/*General    ****************************************************************************************************/
html, body{
    height:100%;
}

body {
    background-color: #394046;
      /* Margin bottom by footer height so that sticky footer doesnt cover*/
   margin-bottom: 60px;
}
@media only screen and (max-width : 768px) {
body{
    /* Margin bottom by footer height so that sticky footer doesnt cover*/
    margin-bottom:80px;
}
}
body.loggedOut
{
 background: url(http://res.cloudinary.com/dffqiamzz/image/upload/v1438086539/dungeons_and_dragons_party_ztbbve.jpg) no-repeat center center fixed; 
  background-size: cover;
}
h1,h2,h3,h4,th{
     font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4{
    padding-left:15px;
    padding-right:15px;
}
p,td{
    font-family: 'Vollkorn', serif;
}
.container{
    padding:0;
}
.panel{
    padding:10px;
}
.dashboard_container{
       margin-left:0;
       margin-bottom:10px;
}

#sidenavwrapper.active .dashboard_container{
    /*gives space from the side-nav for all dashboard pages*/
     margin-left:30px;
}

/*Logged out-landing Page    ***********************************************************************************/
 .jumbotron{
    background-color: rgba(245, 245, 245, 0.4);   
}
 .jumbotron h1{
         color:white;
     font-weight:bolder;
         -webkit-text-stroke-width: 3px;
             -webkit-text-stroke-color: black;
             font-size:60px;
 }
 .jumbotron p{
         color:#1a1a1a;
          -webkit-text-stroke-width: 0.5px;
             -webkit-text-stroke-color: #1a1a1a;
             font-weight:bolder;
 }
 .banner-grids{
     background-color:slategray;
     width:80%;
     margin:auto;
     border-top-left-radius:4px;
     border-top-right-radius:4px;
 }

 .banner-grid{
     padding: 1em 1.5em;
 }
 .banner-grid h3 {
    color:#312c2c;
    font-weight:bold;
}
.banner-grid p {
    color:white;
    font-size:1.1em;
}
/*Logged in-landing Page    ***********************************************************************************/

#login_greeting_header{
   text-align:center;
   padding:20px;
}
/*Footer    ***************************************************************************************************/

footer .navbar{
    margin:0;
}

.loggedin_footer h4{
    float:right;
}
/* Dashboard logged-in **************************************************************************************************/
.dashboard_page{
    margin-left:180px;
}
#dashbaordHomePage{
    height:100%;
}
#sidenavwrapper{
    background-image:url(http://res.cloudinary.com/dffqiamzz/image/upload/v1438821379/loginDashboardBackground_ucb031.jpg);
}
/*Campaign DASHBAORD ****************************************************************************************************/

#charactersFormToggle{

}

/*Tables *****************************************************************************************************/
legend{
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-shadow:2px 1px 1px #999;
   font-weight:bold;
   font-size:26px;
   color:#222;
}


#styledTable {
    	border:1px solid #000000;
}

#styledTable tr:nth-child(odd){ background-color:#797f84; }
#styledTable tr:nth-child(even)    { background-color:#d9dadb; }
#styledTable td{
	vertical-align:middle;
    text-align:center;
	border:1px solid #000000;
	border-width:0 1px 1px 0;
	padding:3px;
	font-size:14px;
	font-weight:normal;
	color:#000000;
}

#default_char-hover tbody tr:hover td, #default_char-hover tbody tr:hover th {
  background-color:#455372 ;
}

#styledTable th{
	background:-o-linear-gradient(bottom, #706c6c 5%, #333333 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #706c6c), color-stop(1, #333333) );
	background:-moz-linear-gradient( center top, #706c6c 5%, #333333 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#706c6c", endColorstr="#333333");	background: -o-linear-gradient(top,#706c6c,333333);
	background-color:#706c6c;
    color:white;
}

#styledTable a{
    color:white;
}
td#styledTable a{
    color:#9c0202;
}

  @media only screen and (max-width : 768px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	#default_char td{
        text-align:right;
	}
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        text-align:right;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        text-align:left;
        content: attr(data-label);
        font-weight:bold;
	}
	td#crud_function_td{
        text-align:center;
	}
}
/* Forms    **************************************************************************************************/

#login-form h3, #signup-form h3{ 
    font-size: 50px;
    line-height: 65px;
}
#login-form h1,#signup-form  {
    text-align:center;
    color:slategray;
}
label {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

hr {
    border-top: 1px solid #182662;
}

#signup-form, #login-form, #contact-form, #about-form {
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius:3px;
}

.button-div {
    text-align: right;
}
.button-div-left {
    
}
/*Buttons    ******************************************************************************/
.btn-custom {
  
    background-color: hsl(360, 95%, 34%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f92424", endColorstr="#a90404");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f92424), to(#a90404));
    background-image: -moz-linear-gradient(top, #f92424, #a90404);
    background-image: -ms-linear-gradient(top, #f92424, #a90404);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f92424), color-stop(100%, #a90404));
    background-image: -webkit-linear-gradient(top, #f92424, #a90404);
    background-image: -o-linear-gradient(top, #f92424, #a90404);
    background-image: linear-gradient(#f92424, #a90404);
    border-color: #a90404 #a90404 hsl(360, 95%, 28.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    -webkit-font-smoothing: antialiased;
}
.btn.btn-custom:hover{
        background-color: hsl(360, 60%, 42%) !important;
          background-image: linear-gradient(hsl(0, 70%, 51%), hsl(0, 69%, 36%));
}
/*NavBar    ***************************************************************************************************/
.navbar-inverse .navbar-brand {
    color: hsl(360, 95%, 34%);
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    font-size: 2em;
    text-shadow: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    margin-bottom: 15px !important;
}

.navbar-inverse .navbar-toggle {
    margin-top: 15px !important;
}

.navbar-inverse .navbar-nav > li > a {
    padding: 10px !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 8px !important;
    border-radius: 3px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover{
         -webkit-box-shadow: 0 6px 4px -6px #cac9c9;
    -moz-box-shadow: 0 6px 4px -6px #cac9c9; 0 4px 3px -6px #cac9c9;
    box-shadow: 0 6px 4px -6px #cac9c9;
}
.navborder {
    margin: 8px;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

#welcome-text{
    font-size:18px;
    margin:22.5px 15px;
}

/*Side Bar********************************************************************************************/

#sidenavwrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 40px;
    width: 170px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 1;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 170px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidenavwrapper.active {
    padding-left: 150px;
}

    #sidenavwrapper.active #sidebar-wrapper {
        left: 150px;
    }

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 170px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar-nav li {
    line-height: 40px;
    /*text-align:center;*/
    text-indent:10px;
}

    .sidebar-nav li a {
        color: #999999;
        display: block;
        text-decoration: none;
    }

        .sidebar-nav li a:hover {
            color: #fff;
            background: rgba(255,255,255,0.2);
            text-decoration: none;
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
            background:#131e4d;
        }

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }

#main_icon,.sub_icon {
    float: right;
    padding-right: 25px;
    padding-top: 20px;
}
.button_icon{
    font-size:18px;
    line-height:12px;
    padding:12px 16px 12px 0;
}
.sub_icon {
    padding-top: 10px;
}

@media (max-width:767px) {
    #sidenavwrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }

    #sidebar-wrapper {
        left: 40px;
    }

    #sidenavwrapper.active {
        padding-left: 150px;
    }

        #sidenavwrapper.active #sidebar-wrapper {
            left: 150px;
            width: 170px;
            transition: all .4s ease 0s;
        }
}
.nav-inline-glyph {
    display:inline-block !important;
    text-indent:63px;
    width:0 !important;
}

/*View Character Page ******************************************************************************/

#character_display label{
    width:49%;
    font-size:20px;
    color:#182662;
    font-weight:bold;
    -webkit-text-stroke-width: 0.5px;
             -webkit-text-stroke-color: black;
}
#character_display span{
    width:39%;
    color:white;
    text-align:right;
    float:right;
        padding-left:2%;
    padding-right:10px;
}

#character_display i{
    color:royalblue;
    font-size:18px;
    margin-right:14px;
}

#character_display .img{
        box-shadow: 8px 8px 5px #888888;
        width:100%;
 }
#char-name h1{
    color:#d10606;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px black;
    font-size:30px;
    font-weight:bold;
    padding-top:10px;

    margin-left:15px;
}

/*Character Creation Form    ***********************************************************************/
/*text box fields in form*/
#characterDetails input,.#stats input{
    margin-top: 5px;
    margin-bottom: 5px;
    vertical-align:middle;
    border-radius:3px;
    height:29px;
    width:60%;
}

/*labels for whole character sheet*/
#characterSheet label{
    background-color:midnightblue;
    border-radius:2px;
    padding:2px 10px 2px 10px;
    color:white;
    width:80px;
    margin:0;
}

/*label for top portion of sheet*/
#stats label{
    text-align:center;
    width:100px;
    line-height:20px;
    margin:0;
}

.statBox,.modifierBox{
    height:45px;
    margin-bottom:19px;
    margin-top:0;
}
.statBox{
    width:40%;
}


.alignedLabel{
    height:45px;
    margin-top:10px;
}

#characterDetails .form-control{
    display:inline-block;
     width:30%;
     height:29px;
     margin:5px;
     padding:2px 12px;
 }
#characterDetails img {
width:100%;
padding:20px;
}

.button-div-scaffold{
    margin-top:30px;
}
@media only screen and (max-width : 780px) {
    #attributes input, #stats input {
        width: 30%;
    }
}
 /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
            /*keep character images the same size*/
    #characterDetails img {
        padding: 0 40px 20px 0;
    }
    #characterSheet div {
        padding:0;
    }
    #characterSheet {
    padding:0 80px;
    }
}
    /*Utlilty Classes **********************************************************************************/

    @media only screen and (max-width : 780px) {
    .no_mobile {
        display:none;
    }